.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-wrapper {
    max-width: 400px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.back-button {
        position: absolute;
        top: 10px;
        left: 10px;
    }

.btn-primary {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
.form-group {
    margin-bottom: 20px;
}

.property-checkbox {
    margin-bottom: 10px;
}

.form-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.form-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #0056b3;
}
