{% extends 'RMS/main.html' %}
{% block content %}

<h1>Order Form</h1>

<form method="POST" action="{% url 'menu' %}">
    {% csrf_token %}

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="price">Price:</label>
    <input type="text" id="price" name="price" required>

    <label for="stage">Stage:</label>
    <input type="text" id="stage" name="stage" required>

    <label for="weight">Weight:</label>
    <input type="text" id="weight" name="weight" required>

    <input type="submit" value="Submit">
</form>

{% endblock content %}
