{% extends 'RMS/main.html' %}
{% block content %}

    <div>
        <div>
            <a class="button" href="{% url 'start' %}">
                <button>Back to start</button>
            </a>
        </div>
        <div>

            <h2>Dish Menu:</h2>
            <a href="{% url 'dish-form' %}"><button>Add new dish</button></a>

            <h3>Starter</h3>
            {% for item in category1 %}
                <li>{{ item.name }} - <b>{{ item.price }}</b></li>
            {% endfor %}

            <h3>Main course</h3>
            {% for item in category2 %}
                <li>{{ item.name }} - <b>{{ item.price }}</b></li>
            {% endfor %}

            <h3>Soup</h3>
            {% for item in category3 %}
                <li>{{ item.name }} - <b>{{ item.price }}</b></li>
            {% endfor %}

            <h3>Salad</h3>
            {% for item in category4 %}
                <li>{{ item.name }} - <b>{{ item.price }}</b></li>
            {% endfor %}

            <h3>Dessert</h3>
            {% for item in category5 %}
                <li>{{ item.name }} - <b>{{ item.price }}</b></li>
            {% endfor %}

        </div>
        <div>
            <h2>Drink Menu:</h2>
        </div>
    </div>

{% endblock content %}
