{% extends 'RMS/main.html' %}
{% block content %}

 <div class="container">
  <div class="row gx-2">
    <div class="col-6 col-md-6 col-lg-6 d-flex justify-content-end mb-4">
      <a class="btn btn-primary d-flex align-items-center justify-content-center btn-square" href="{% url 'orders' %}">
        <div class="btn-square-inner">
          <h2>Show Orders</h2>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-6 col-lg-6 mb-4">
      <a class="btn btn-primary d-flex align-items-center justify-content-center btn-square" href="{% url 'add-order' %}">
        <div class="btn-square-inner">
          <h2>Add New Order</h2>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-6 col-lg-6 d-flex justify-content-end mb-4">
      <a class="btn btn-primary d-flex align-items-center justify-content-center btn-square" href="{% url 'tables' %}">
        <div class="btn-square-inner">
          <h2>Table Booking</h2>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-6 col-lg-6 mb-4">
      <a class="btn btn-primary d-flex align-items-center justify-content-center btn-square" href="{% url 'menu' %}">
        <div class="btn-square-inner">
          <h2>Menu</h2>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock content %}