{% extends 'RMS/main.html' %}
{% load static %}
{% block content %}

<style>
    .category-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
</style>

<div>
    <div>
        <a class="button" href="{% url 'start' %}">
            <button>Back to start</button>
        </a>
    </div>
    <div>
        <h2>Tables:</h2>
        <a href="{% url 'table-form' %}"><button>Add new table</button></a>
    </div>

    {% for table in table_data %}
  <div class="table">
    <img src="{% static 'RMS/images/restaurant_table_image.jpg' %}" alt="Table Image" style="width: 100px; height: 100px;">
    <div class="table-info">
      <h3>Capacity: {{ table.capacity }}</h3>
      <p>
        {% for property in table.properties %}
          {% if property.property == 1 %}
            Near Window
          {% elif property.property == 2 %}
            Near Kitchen
          {% elif property.property == 3 %}
            In Garden
          {% elif property.property == 4 %}
            In Bar
          {% elif property.property == 5 %}
            Isolated
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
{% endfor %}

</div>

{% endblock content %}
