{% extends 'RMS/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="back-button">
            <a href="{% url 'tables' %}">
                    <button class="btn-primary">Back</button>
                </a>
        </div>

        <div class="form-wrapper">
            <h1>Table Form</h1>

            <form method="POST" action="{% url 'table-form' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="capacity">Capacity:</label>
                    <input type="text" id="capacity" name="capacity" required class="form-input">
                </div>

                <div class="form-group">
                    <label>Properties:</label><br>
                    <div class="property-checkbox">
                        <input type="checkbox" id="property1" name="properties" value="1">
                        <label for="property1">Near Window</label>
                    </div>

                    <div class="property-checkbox">
                        <input type="checkbox" id="property2" name="properties" value="2">
                        <label for="property2">Near Kitchen</label>
                    </div>

                    <div class="property-checkbox">
                        <input type="checkbox" id="property3" name="properties" value="3">
                        <label for="property3">In Garden</label>
                    </div>

                    <div class="property-checkbox">
                        <input type="checkbox" id="property4" name="properties" value="4">
                        <label for="property4">In Bar</label>
                    </div>

                    <div class="property-checkbox">
                        <input type="checkbox" id="property5" name="properties" value="5">
                        <label for="property5">Isolated</label>
                    </div>
                </div>

                <div class="submit-button">
                    <input type="submit" value="Submit" class="form-submit">
                </div>
            </form>
        </div>
    </div>
    <link rel="stylesheet" href="{% static 'RMS/css/table_form_css.css' %}">

{% endblock content %}


