{% extends 'RMS/main.html' %}
{% block content %}
    <div>
        <div>
            <a class="button" href="{% url 'start' %}">
                <button>Back to start</button>
            </a>
        </div>

        <h1>Table Form</h1>

        <form method="POST" action="{% url 'table-form' %}">
            {% csrf_token %}
            <label for="capacity">Capacity:</label>
            <input type="text" id="capacity" name="capacity" required>

             <label>Properties:</label><br>
          <input type="checkbox" id="property1" name="properties" value="1">
          <label for="property1">Near Window</label><br>

          <input type="checkbox" id="property2" name="properties" value="2">
          <label for="property2">Near kitchen</label><br>

          <input type="checkbox" id="property3" name="properties" value="3">
          <label for="property3">In garden</label><br>

          <input type="checkbox" id="property4" name="properties" value="4">
          <label for="property4">In bar</label><br>

          <input type="checkbox" id="property5" name="properties" value="5">
          <label for="property5">Is isolated</label><br>

            <input type="submit" value="Submit">
        </form>

    </div>
{% endblock content %}
